:host{
       #s{
        color: blue;
        background-color: rgb(245, 247, 138);
        width: 8vw;
        text-align: center;
        height: 5vh;
        border: 0.2vw,solid,blue;
        font-size: 2vh;
    }
        button{
        font-size: 2vh;
        margin-bottom: 3vh;
        color: rgb(245, 139, 41);
    }
    div{
        background-color: rgb(245, 247, 138);
    }
}

