:host{
    .div{
        border: 0.5vh,solid,rgb(255, 255, 255);
        border-radius: 20%;
        height: 50vh;
        width: 10vw;
        margin: 3vw;
        text-align: center;
        font-size: 2.5vh;
        color: green;
        background-color: rgb(245, 247, 138);
        padding-top: 8vh;
        background-image: url(/assest/image/task/greenPage.jpg);
        background-repeat: no-repeat;
        background-size:60vh;
        background-position: center;
    }


}